@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* :root {
/*  --bg-color-about-me: #F0EFEE;*/ 
/*  --bg-color-about-me: #F8F5E9;
 
} */

.content {
    display: flex;
    justify-content: flex-start;
    align-content: center;
    margin-top: 11em;
    background-color: var(--bg-color-about-me);
    height: 100vh;
    position: relative;
}

.information {
    height: fit-content;
    display: block;
    margin-top: 10em;
    margin-left: 300px;
    max-width: 96vw;
}

.sobre {
    font-family: "IBM Plex Mono", serif;
    font-weight: 200;
    font-size: 20px;
}

.conhecaEu {
    font-family: "Anonymous Pro", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 4.5rem;
    color: rgb(10, 10, 75);
    margin-top: 1vh;
}

.qualities {
    position:absolute;
    padding: 0;
    width: 40em;
    top: 30em;
    left: 18em;
    grid-gap: 5em;
    display: grid;
    grid-template-columns: minmax(20px, 1fr) minmax(20px, 1fr);
    align-content: space-between;
    max-width: 96vw;
}

.containerQuality {
    display: flex;
    height: 300px;
}

/* .titleQuality {
    position: absolute;
    font-family: "Anonymous Pro", serif;
    font-weight: 100;
    font-style: normal;
    font-size: 40px;
    color: #000435;
    left: 0.6em;
    top: 0;
} */

/* .paragraphQuality {
    position: absolute;
    margin-top: 6rem;
    left: 1.5em;

    font-weight: 200;
    font-family: "Raleway", serif;
    font-optical-sizing: auto;
} */