.navigation {
  display: flex;
  min-width: 240px;
  align-items: center;
  gap: 3em;
  margin: auto 0;
  padding: 12px 2px;
  font: 600 16px Montserrat, -apple-system, Roboto, Helvetica, sans-serif;
}

.homeLink,
.servicesLink,
.aboutLink {
  text-decoration: none;
  color: black;
}

.homeLink:hover,
.servicesLink:hover,
.aboutLink:hover{
  color: #dbc87b !important;
}

@media (max-width: 991px) {
  .navigation {
    white-space: initial;
  }
}