@import './components/modules/SocialMediaIcons.module.css';

/* Cor do background do site */
:root {
    --bg-color: #E6E7E6;     
    /*
        --bg-accent-color: #7F8A8D;
        --bg-accent-impact-color: #676459;
        --bg-style-color: #857F8D;
        --light-color: #E7DEBD;
        --header-color: #8D8A7F;
        --header-color-light: #FEF7ED; 
        --title-color: #2d271b;
    */
}

body {
    background-color: var(--bg-color);
    margin: 0;
}

.HeroPageDivisor {
    position: relative;
    overflow: hidden;
}

.mainContainer {
    position: relative;
}

/* Configurações do cabeçário */
.header {
    background-color: #fbf9f9;
    /* justify-content: start */
    width: 100vw;
    height: 8vh;
    gap: 9rem;

    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
}

@media (max-width: 450px){
    .header {
        margin-right: 0;
        padding: 0;
    }
}

.headerContent {
    position: absolute;
    display: flex;
    align-content: center;
    justify-content: center;
    width: fit-content;
}

/* Social media icons css */
.socialIconsContainer {
    display: flex;

    align-items: center;
    justify-content: center;
    position: relative;

    min-width: 240px;
    height: 14px;
    gap: 40px 50px;

    flex-wrap: wrap;

    width: 300px;
}


.socialIcon {
    aspect-ratio: 1;
    object-fit: contain;
    align-self: stretch;

    height: 60px;
    width: 60px;
    display: block;
    background: white;

    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.15);
}

/* Instagram */
.socialIcon:first-child {
    aspect-ratio: 0.85;
    width: 55px;
    display: inline-block;
    border: 1px solid transparent;
    border-radius: 40%;
    transition: scale 0.2s ease-in-out;
    transform: translate(0);
}

.socialIcon:first-child:hover {
    all: unset;
    border: 0.4em solid white;
    background: white;
    cursor: pointer;
    box-sizing: border-box;
    border-radius: 20%;
    scale: 1.1;
}

.socialIcon:nth-child(2) {
    aspect-ratio: 0.94;
    width: 50px;
}

.socialIcon:nth-child(2):hover {
    all: unset;
    border: 0.4em solid white;
    background: white;
    cursor: pointer;
    box-sizing: border-box;
    border-radius: 30%;
}

.socialIcon:last-child {
    width: 56px;
}

.socialIcon:last-child:hover {
    all: unset;
    border: 0.4em solid white;
    background: white;
    cursor: pointer;
    box-sizing: border-box;
    border-radius: 30%;
    scale: 1.05;
}

/* ------------------------------------- */


/* Icones */
.headerContent:nth-last-child() {
    justify-self: left;
}

/* Logo Principal */
.logo {
    display: flex;
    margin-left: 3em;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
}

.logoImage {
    display: flex;
    max-width: 100%;
    left: 0;
    height: 4.3em;
}
/* 
@media (max-width: 500px) {
    .logo {
        position: relative;
    }

    .logoAnchor {
        position: absolute;
        margin-right: 100px;
    }

    .logoAnchor img {
        display: flex;
        align-self: center;
        height: 4.3em;
    }
    
} */

/* Configuração do Texto principal e imagem */
.contentSection {
    display: flex;
    margin-top: 4em;
    gap: 40px 84px;
    justify-content: center;
    flex-wrap: wrap;
    min-height: 700px;
}

.infoContent {
    display: flex;
    min-width: 240px;
    min-height: 631px;
    flex-direction: column;
    align-items: start;
    width: 500px;
    height: 700px;
    overflow: hidden;
}


.blob {
    position: absolute;
    top: 0;
    left: 0;
    fill: var(--header-color-light);
    width: 50vmax;
    z-index: -1;
    animation: move 20s ease-in-out infinite;
    scale: 1.04;
    opacity: 0.3;
    transform-origin: 50% 50%;
}

@keyframes move {
    0% {
        transform: scale(1) translate(10px, -30px);
    }

    30% {
        transform: scale(0.8, 1) translate(80vw, 8vh) rotate(160deg);
    }

    40% {
        transform: scale(0.8, 1) translate(80vw, 13vh) rotate(160deg);
    }

    78% {
        transform: scale(1.25) translate(0vw, 19vh) rotate(-20deg);
    }

    80% {
        transform: scale(1.25) translate(0vw, 19vh) rotate(-20deg);
    }

    100% {
        transform: scale(1) translate(10px, -30px);
    }
}

.title {
    color: #175C00;
    font: 400 60px against, sans-serif;
}

.description {
    display: flex;
    margin-top: 30px;
    min-height: 250px;
    max-width: 100%;
    color: #000;
    padding: 6px 10px;
    font: 400 24px Bell MT, sans-serif;
}

/* Botão de chamada */
.scheduleButton {
    background-color: #A9C690;
    box-shadow: 9px 9px 0 #151515;
    display: flex;
    margin-top: 43px;
    align-items: center;
    gap: 1.45em;
    overflow: hidden;
    justify-content: center;
    padding: 0 17px;
    border: 2px solid #151515;
    text-decoration: none;
    height: 4em;
}

.buttonText {
    color: #151515;
    letter-spacing: 1.5px;
    width: 200px;
    margin: auto 0;
    padding: 0px 10px 0;
    font: 400 20px Bell MT, sans-serif;
}

.buttonIcon {
    width: 1.5em;
    aspect-ratio: 0.88;
    object-fit: contain;
}

/* Carrossel de imagens baseadas no Instagram */
.imageWrapper {
    width: 766px;
    width: fit-content;
    justify-self: end;
    padding-left: 10em;
    margin: auto 0;
    position: relative;
}

/* 
.skipLink {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
}

.skiplink:focus-visible {
    top: 0;
    left: 0;
    border: 1px solid black;
    background-color: var();
    padding: .5rem;
    width: auto;
    height: auto;
    margin: 0;
    clip: unset;
    text-decoration: none;
    color: black;
    z-index: 100;
} */

.customShapeDivider {
    position: absolute;
    margin-top: 65em;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.customShapeDivider svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
}

.customShapeDivider .shapeFill {
    fill: #FEF7ED;
}

/* Section of images popup */
.fullScreenSection {
    height: 100vh;
    text-align: center;
    padding: 1rem;
    position: relative;
}

.topSection .left,
.topSection .right {
    flex-basis: 0;
    flex-grow: 1;
    padding: 1rem;
    padding-left: 3rem;
}

.topSection {
    display: flex;
    text-align: start;
    padding: 0;
}

/* .topSection .left {
    background-color: rgb(248, 250, 249, var(--background-opacity));
}

.topSection .right {
    background: linear-gradient(210.65deg,
            rgb(152, 157, 157, var(--background-opacity)) 0%,
            rgb(189, 194, 194, var(--background-opacity)) 100%);
} */

.imgsPopUp>.topSectionImg {
    /* (oldVal - oldMin) * newRange / oldRange + newMin */
    --value: min(var(--scroll), 30) * 50 / 30;
    width: calc(50vw + 1vw * var(--value));
    transform: translateY(calc(50% - 1% * var(--value)));
}

/* @media (width <=1000px) {
    .topSection .right {
        display: none;
    }

    .topSection .left {
        text-align: center;
    }

    body {
        font-size: 24px;
    }

    h1 {
        font-size: 72px;
    }

    .imgsPopUp>.topSectionImg {
        width: 100vw;
    }
} */

:root {
    --scroll: 0;
}

.topSection {
    position: sticky;
    top: 0;
    /* (oldVal - oldMin) * newRange / oldRange + newMin */
    translate: 0 calc(-1% * (max(var(--scroll), 25) - 25) * 100 / 75);
    --background-opacity: calc(100% - 1% * min(var(--scroll), 30) * 100 / 30);
}

.firstMainSection {
    padding-top: 10vh;
}

.imgsPopUp>* {
    position: fixed;
    width: 100vw;
    bottom: 0;
    z-index: 10;
    translate: 0 100%;
    transition: translate 250ms ease-in-out;
}

.imgsPopUp>.show {
    translate: 0 0;
}

[data-img-to-show] {
    position: absolute;
    top: 20%;
}

/* 
@media (max-width: 991px) {
    .header {
        flex-direction: column;
        align-items: stretch;
        gap: 0;
    }

    .logo {
        margin-top: 40px;
    }

    .headerContent {
        width: 100%;
    }

    .contentSection {
        max-width: 100%;
        margin: 40px 10px 0 0;
    }

    .infoContent {
        max-width: 100%;
    }

    .title {
        font-size: 40px;
    }

    .description {
        margin-top: 40px;
    }

    .scheduleButton {
        margin-top: 40px;
    }

    .imageWrapper {
        max-width: 100%;
    }
} */
